Flask
Flask-SocketIO
python-socketio
opencv-python-headless  # OpenCV (サーバーで顔認識を行うため)
face_recognition
Pillow
numpy
gunicorn                # Procfileでサーバーを起動するために必須
eventlet                # SocketIOのWebSocketを扱うために必須
